resources/wsdl/mts_out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://10.241.35.91:8082/soap/profilemanage" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://10.241.35.91:8082/soap/profilemanage">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.241.35.91:8082/soap/profilemanage">
      <s:element name="AddProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MSISDN" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Val" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Role" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="tns:ResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MSISDN" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Val" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="tns:ResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProfileRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MSISDN" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Val" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="NewRole" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProfileRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="tns:ResultSet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultSet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ReqId" type="s:int"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="AddProfileSoapIn">
    <part name="parameters" element="tns:AddProfile"/>
  </message>
  <message name="AddProfileSoapOut">
    <part name="parameters" element="tns:AddProfileResponse"/>
  </message>
  <message name="DeleteProfileSoapIn">
    <part name="parameters" element="tns:DeleteProfile"/>
  </message>
  <message name="DeleteProfileSoapOut">
    <part name="parameters" element="tns:DeleteProfileResponse"/>
  </message>
  <message name="ChangeProfileRoleSoapIn">
    <part name="parameters" element="tns:ChangeProfileRole"/>
  </message>
  <message name="ChangeProfileRoleSoapOut">
    <part name="parameters" element="tns:ChangeProfileRoleResponse"/>
  </message>
  <portType name="ProfileManageSoap">
    <operation name="AddProfile">
      <input message="tns:AddProfileSoapIn"/>
      <output message="tns:AddProfileSoapOut"/>
    </operation>
    <operation name="DeleteProfile">
      <input message="tns:DeleteProfileSoapIn"/>
      <output message="tns:DeleteProfileSoapOut"/>
    </operation>
    <operation name="ChangeProfileRole">
      <input message="tns:ChangeProfileRoleSoapIn"/>
      <output message="tns:ChangeProfileRoleSoapOut"/>
    </operation>
  </portType>
  <binding name="ProfileManageSoap" type="tns:ProfileManageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="AddProfile">
      <soap:operation soapAction="http://10.241.35.91:8082/soap/profilemanage/AddProfile" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteProfile">
      <soap:operation soapAction="http://10.241.35.91:8082/soap/profilemanage/DeleteProfile" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangeProfileRole">
      <soap:operation soapAction="http://10.241.35.91:8082/soap/profilemanage/ChangeProfileRole" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProfileManage">
    <port name="ProfileManageSoap" binding="tns:ProfileManageSoap">
      <soap:address location="http://10.241.35.91:8082/soap/profilemanage"/>
    </port>
  </service>
</definitions>
