resources/wsdl/SberbankSetNewClients_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://webserv.my/" xmlns:tns="http://webserv.my/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="XMLmessage" type="tns:XMLmessage"/>

  <xs:element name="XMLmessageResponse" type="tns:XMLmessageResponse"/>

  <xs:complexType name="XMLmessage">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="XMLmessageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

