resources/wsdl/TransactionESPP.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.iitdgroup.ru/Intellinx/CrossChannel/TranAntiFraudCheckRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TranAntiFraudCheckRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:string" name="TransactionId"/>
            <xs:element type="xs:byte" name="EksId"/>
            <xs:element type="xs:byte" name="BranchId">
               <xs:annotation>
                  <xs:documentation>Optional:</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="ClientId">
               <xs:annotation>
                  <xs:documentation>Optional:</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="RequestType"/>
            <xs:element type="xs:byte" name="PointId"/>
            <xs:element type="xs:string" name="PointExternalId">
               <xs:annotation>
                  <xs:documentation>Optional:</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element type="xs:short" name="DocumentNumber"/>
            <xs:element type="xs:dateTime" name="DocumentTimestamp"/>
            <xs:element name="ServicePayment">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:byte" name="ServiceKind"/>
                     <xs:element type="xs:string" name="ProviderName"/>
                     <xs:element type="xs:string" name="ServiceName"/>
                     <xs:element type="xs:float" name="AmountInSourceCurrency">
                        <xs:annotation>
                           <xs:documentation>Optional:
                              &lt;tran:CardId>we86we&lt;/tran:CardId>
                              Optional:
                              &lt;tran:AccountNo>40108100909090909&lt;/tran:AccountNo></xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element type="xs:string" name="SourceCurrencyIsoCode"/>
                     <xs:element name="PaymentParameters">
                        <xs:annotation>
                           <xs:documentation>Optional:</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>1 or more repetitions: &lt;tran:Parameter Name="R_CorpBIC" Value="042301975"/>
                                       &lt;tran:Parameter Name="R_CorpBankAccount" Value="12345678901234567895"/>
                                       &lt;tran:Parameter Name="R_CorpINN" Value="1234567895"/></xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute type="xs:string" name="Name" use="optional"/>
                                          <xs:attribute type="xs:long" name="Value" use="optional"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>